.logo {
  z-index: var(--header-logo-index);
  width: 250px;
  fill: var(--standard-black);
}

.logo--index-page {
  fill: var(--standard-white);
}

.logo__nav-open {
  fill: var(--standard-black);
}
