.logo {
  z-index: var(--header-logo-index);
  width: 400px;
  fill: var(--standard-black);

  @media (width <= 900px) {
    width: 350px;
  }
}

.logo--index-page {
  fill: var(--standard-white);
}

.logo__nav-open {
  fill: var(--standard-black);
}
