.header {
  z-index: var(--header-index);
  width: 100%;
  background-color: var(--background-color);
}

.header--fixed {
  position: fixed;
  top: 0;
  background-color: transparent;
}

.header__wrap {
  display: grid;
  align-self: center;
  grid-auto-rows: max-content max-content;
  grid-template-columns: max-content;
  padding: var(--basic-side-padding);
  gap: 40px;
}

.header__controls {
  position: relative;
  max-width: max-content;
}

.header__title {
  font-weight: 400;
  font-size: 27px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
