.header {
  z-index: var(--header-index);
  width: 100%;
  background-color: var(--background-color);
}

.header--fixed {
  position: fixed;
  top: 0;
  background-color: transparent;
}

.header__wrap {
  display: grid;
  align-self: center;
  grid-template-columns: max-content 1fr;
  padding: var(--basic-side-padding);
}

.header__controls {
  position: relative;
  max-width: max-content;
}
