.nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: var(--nav-index);
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.nav--open {
  left: 0;
  top: calc(100% + 33px);
  opacity: 1;
  pointer-events: all;
  user-select: all;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  gap: 5px;
}
