.swiper {
  width: 100%;
  height: 100%;

  --swiper-navigation-color: var(--secondary-text-color);
  --swiper-pagination-color: var(--secondary-text-color);
}

.post__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left top;
}
