:root {
  /* COLORS */
  --standard-white: #fff;
  --standard-black: #000;
  --primary-text-color: #000;
  --secondary-text-color: #999;
  --background-color: #fff;

  /* INDEXING VALUES */
  --body-overlay-index: 1;
  --header-controls-index: 2;
  --header-logo-index: 1;
  --open-nav-button-index: 1;
  --nav-index: 1;

  /* SIZES */
  --basic-side-padding: 20px;
}
