.header-title {
  font-weight: 400;
  font-size: 27px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.header-title__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: currentcolor;
}

.header-title__link:hover {
  color: var(--primary-text-color);
}
